@import "../../../styles/mixins.scss";

.content-image{
    padding: 20px 0;
    img{
       max-width: 70%;
    }   
    &.left{
        text-align: left;
    }
    &.right{
        text-align: right;
    }
    &.center{
        text-align: center;
    }
}
@include mobile{
    .content-image img {max-width: 100%;width: 100%;}
}