@import '../../../styles/const.scss';
.am {
  
  .gradient-svg {
    position: fixed;
    margin-top: -1000px;
    margin-left: -1000px;
  }

  .main-container {
    height: 100%;
    
    .desktop-view {
      height: 100%;
      .am-modal-page{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 5;
        left: 25%;
        width: 75%;
        background-color: #fff;
        z-index: 5;
        overflow: auto;
        height: 100vh;
        // margin-left: $menu-width;
        .content{
          margin-left:0 ;
        }
      }
      >.content {
        overflow-y: hidden;
      }
      .content {
        height: 100%;
        position: relative;
        margin-left: $menu-width;
      }
    }
  
    .mobile-view {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      height: 100%;

      .content {
        height: 100%;
        margin-top: 8px;
        padding-top: 6px;
      }
    }
  
  }
}